<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Analisis de Sentimientos</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<link rel="stylesheet" href="../static/css/estilos.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	 crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
	 crossorigin="anonymous">

	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
	 crossorigin="anonymous">

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

	</script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels">
	</script>
	<!-- graficas con plotply -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js">
	</script>

	<link rel="stylesheet" href="../static/css/chosen.min.css" />
	<script src="../static/js/chosen.jquery.min.js">
	</script>
</head>

<body>

	<!-- preload -->
	<div class='div-preload' style='padding-top:10%;'>
		<center>
			<img src="../static/img/pp.svg" alt=""width='280px'>  <br>        
           <div class="loadingio-spinner-interwind-trysw0yvp0p"><div class="ldio-4ec34dlqlur">
            <div><div><div><div></div></div></div><div><div><div></div></div></div></div>
            </div></div>
        </center>
      </div>
 <!-- end-preload -->
 <div class=' haside2'style='background: #2b7abf; color:white;'>
        <img id="imghaside2" src="../static/img/itcolima.svg" >
        <div class="txthaside2"> 
        <p class="textheader" >Tecnologico Nacional de México Campus Colima</p>
        <p class="textheader2">Ciencia de datos Proyecto y Aplicación</p>
        </div>
      </div>
   <div class="gridprincipal">
     <div class="columna1">
        <aside class='border-0 pt-5'>
         <p class='p-2'style='text-align:center;'>Tecnologico Nacional de México Campus Colima</p>
          <img  id="imgnav" src="../static/img/itcolima.svg" width="70%">
          <p class='p-2'style='text-align:center;'>Ciencia de datos Proyecto y Aplicación</p>
        </aside>
     </div>
     <div class="columna2">
       
      <div class="columna2_2" style="padding-bottom: 120px;">
        <h2 style="text-align:center;color: #555 !important;" class='mb-4'>Apartado grafico</h2>
        <p class='container text-secondary text-center'>En esta sección se encontrara los datos estadísticos del resultado de procesamiento de datos.</p><br>
        <center>
          <div class='container mb-5' style="width: 50%;">
          <center>
          <span class='text-secondary'>Selecciona el filtro</span>
          <select class="chzn-select form-control mt-2 selec" multiple id='selec_candidato' data-placeholder="Selecciona filtros"></select>
        </center>
        </div>
        </center>

        <div class='graficas'>
          <canvas id="tc" class='grafica'></canvas>
          <canvas id="f0" class='grafica'></canvas>
          <canvas id="g0" class='grafica'></canvas>
          <canvas id="f1" class='grafica'></canvas>
          <canvas id="g1" class='grafica'></canvas>
          <canvas id="f2" class='grafica'></canvas>
          <canvas id="g2" class='grafica'></canvas>
          <canvas id="f3" class='grafica'></canvas>
          <canvas id="g3" class='grafica'></canvas>
        </div>
      
      </div>
       <div class="divfoo"><p class="textfoo">© 2021 Copyright: </p><a href="https://www.colima.tecnm.mx/" target="_blank"><p class="textfoo">&nbsp;Tecnologico nacional de México Campus Colima </p></a></div>
      </div>
  </div>
<script>
    window.onload = function() {
  //lineas de codigo que toma los datos y llama a la funcion de graficado
      setTimeout(function() {
        $("#candidatos").chosen();
		  $('.div-preload').attr('style', 'display:none');
      barColors = ["#fd9d48", "#fd6648","#ffd160"];
      borColors = ["#ff7800", "#fc2a00","#fcb300"];
      let datos={{ dato|tojson }};
      let clust=[];
      let totalClust=[];
      let clust1=[];
      let clust2=[];
      let clust3=[];
      let clust4=[];
      
      for(x=0;x<4;x++){
          clust.push(datos.clusters[x].name)
          totalClust.push(datos.clusters[x].total_elements)
          
          let obj1=(datos.clusters[x].count_values[0].feeling)
          let obj2=(datos.clusters[x].count_values[1].gender)
          let arrF1=[]
          let arrF2=[]
          let arrG1=[]
          let arrG2=[]
           
          for (const [clave, valor] of Object.entries(obj1)) {
              arrF1.push(clave);
              arrF2.push(valor);  
          }
          for (const [clave, valor] of Object.entries(obj2)) {
              arrG1.push(clave);
              arrG2.push(valor);  
          }
           
          armachart('f'+x,arrF1,arrF2,barColors,borColors,'doughnut','Sentimientos Cluster '+x)
          armachart('g'+x,arrG1,arrG2,barColors,borColors,'pie','Generos del Cluster '+x)
           
           
         /*  console.log(datos.clusters[x].count_values[0].feeling) 
          console.log(datos.clusters[x].count_values[1].gender) */ 
      } 
      console.log(clust)
      console.log(totalClust)
      armachart('tc',clust,totalClust,barColors,borColors,'bar','Cantidad de elementos clusters')
     // armachart('sentimientos',clust,totalClust,barColors,borColors,'bar','Cantidad de elementos clusters')

		}, 1000);   
    }
    llena_selec()
 function llena_selec(){
   let datos={{ datos2|tojson }};
       
       for (const [clave, valor] of Object.entries(datos)) {
           /*  let hola = valor.split(',') */
            let op;
            for(x=0;x<valor.length;x++){
               op=$('<option value="'+clave+'-'+valor[x]+'">'+valor[x]+'</option>')
               $('#selec_candidato').append(op)
            }
          }
           $("#selec_candidato").chosen({no_results_text: "Sin resultados para:"});
 }
//funcion que genera las graficas 
  function armachart(div,x,y,barColors,borColors,tipo,nombre){

    switch(tipo){
        case 'bar':
            new Chart(div, {
                type: tipo,
                data: {
                    label: false,
                    labels: x,
                    datasets: [{
                        backgroundColor: barColors,
                        borderColor: borColors,
                        data: y
                    }]
                },
                options: {
                    plugins: {
                      datalabels: {
                        display: true,
                        font: {
                          size: 18,
                        }
                      },
                    },
                    legend: {
                        display: false
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: nombre
                    },
                    scales: {
                    
                        xAxes: [{
                            ticks: {
                                autoSkip: true,
                                /* minRotation: 75 */
                            },
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                    },

                },
                
            });
        break
        case 'horizontalBar':
            new Chart(div, {
                type: tipo,
                data: {
                    label: false,
                    labels: x,
                    datasets: [{
                        backgroundColor: barColors,
                        borderColor: borColors,
                        data: y
                    }]
                },
                options: {
                    plugins: {
                      datalabels: {
                        display: true,
                        font: {
                          size: 18,
                        }
                      },
                    },
                    legend: {
                        display: false
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: nombre
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize:1
                            },
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                    },

                }
            });
        break
        case 'line':
            new Chart(div, {
                type: tipo,
                data: {
                    label: false,
                    labels: x,
                    datasets: [{
                        backgroundColor: barColors,
                        borderColor: borColors,
                        data: y
                    }]
                },
                options: {
                    plugins: {
                      datalabels: {
                        display: true,
                        font: {
                          size: 18,
                        }
                      },
                    },
                    legend: {
                        display: false
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: nombre
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                    },

                }
            });
        break
        case 'doughnut':
 otra(x,y,nombre)
            new Chart(div, {
                type: tipo,
                data: {
                    labels: x,
                    datasets: [{
                    backgroundColor: barColors,
                    data: y
                    }]
                },
                options: {
                    plugins: {
                      datalabels: {
                        display: true,
                        font: {
                          size: 18,
                        },
                      },
                    },
                    title: {
                    display: true,
                    text: nombre
                    },
                    /* legend: {
                            display: true,
                            position: 'bottom',   //posicion de labels
                        } */
                },

                });
            
        break
        case 'pie':
               
            new Chart(div, {
                type: tipo,
                data: {
                    labels: x,
                    datasets: [{
                    backgroundColor: barColors,
                    data: y
                    }]
                },
                options: {
                    plugins: {
                      outlabels: {
                        display: true,
                        font: {
                          size: 18,
                        }
                      },
                    },
                    title: {
                    display: true,
                    text: nombre
                    },
                    /* legend: {
                            display: true,
                            position: 'bottom',   //posicion de labels
                        } */
                }
                });
        break 
    }
 }
 function otra(x,y,n){
   if(n=='Sentimientos Cluster 2'){
     var layout = {title:n};
     var datas = [{labels:x, values:y, type:"pie"}];
    Plotly.newPlot("myPlot", datas, layout);
   }
    
  }
 
</script>
<div id="myPlot" style="width:100%;max-width:700px" hidden></div>


 
</body>
</html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    body {
      font-family: 'Poppins', sans-serif;
    }
</style>