<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Sentimientos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <link rel="stylesheet" href="../static/css/estilos.css" />
    <script src="../static/js/bs4-toast.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels">
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <!-- graficas con plotply -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js">
    </script>

    <link rel="stylesheet" href="../static/css/chosen.min.css" />
    <script src="../static/js/chosen.jquery.min.js">
    </script>
</head>

<body>

    <!-- preload -->
    <div class='div-preload' style='padding-top:10%;'>
        <center>
            <img src="../static/img/pp.svg" alt="" width='280px'> <br>
            <div class="loadingio-spinner-interwind-trysw0yvp0p">
                <div class="ldio-4ec34dlqlur">
                    <div>
                        <div>
                            <div>
                                <div></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
    <!-- end-preload -->


    <!-- end-preload -->
    <div class=' haside2' style='background: #2b7abf; color:white;'>
        <img id="imghaside2" src="../static/img/itcolima.svg">
        <div class="txthaside2">
            <p class="textheader">Tecnológico Nacional de México Campus Colima</p>
            <p class="textheader2">Ciencia de datos Proyecto y Aplicación</p>
        </div>
    </div>
    <div class="gridprincipal">
        <div class="columna1">
            <aside class='border-0 pt-5'>
                <p class='p-2' style='text-align:center;'>Tecnológico Nacional de México Campus Colima</p>
                <img id="imgnav" src="../static/img/itcolima.svg" width="70%">
                <p class='p-2' style='text-align:center;'>Ciencia de datos Proyecto y Aplicación</p>
            </aside>
        </div>
        <div class="columna2">

            <div class="columna2_2" style="padding-bottom: 120px;padding-top: 2px !important;">
                <div style='box-shadow: 0px 2px 20px -4px rgba(232, 232, 232, 0.75);'>
                    <!-- <p style="margin-left: 11em;font-size: 12px;color: #4d4d4d;">Nube de palabras </p> -->

                    <center> <img class='nube' src="../static/img/foo.png" alt=""></center>
                    <center> <img class='nube2' src="../static/img/foo1.png" alt=""></center>
                </div><br>
                <h2 style="text-align:center;color: #555 !important;" class='mb-4'>Apartado gráfico</h2>
                <p class='container text-secondary text-center'>En esta sección se encontrarán los datos estadísticos
                    del resultado de procesamiento de datos.</p><br>
                <center>
                    <div class='container mb-5'>
                        <center>
                            <span class='text-secondary'>Seleccione el filtro</span><br>
                            <select class="chzn-select form-control mt-2 selec" multiple id='selec_candidato'
                                data-placeholder="Selecciona filtros"></select>
                            <div id="div_boton" class='d-flex justify-content-center mt-3'><button
                                    class='bt btn border-0 mt-2' style="background: #05397b;"
                                    onclick='llamadoFiltro()'>Aplica filtro</button></div>
                        </center>
                    </div>
                </center>

                <div class='grafica'>Cantidad de elementos clusters<canvas id="tc" ></canvas></div>
           
        <div class='graficas'>
         
          <div class='grafica'>Sentimientos Cluster 0<canvas id="f0" ></canvas></div>
          <div class='grafica'>Géneros del Cluster 0<canvas id="g0" ></canvas></div>
          <div class='grafica'>Sentimientos Cluster 1<canvas id="f1" ></canvas></div>
          <div class='grafica'>Géneros del Cluster 1<canvas id="g1" ></canvas></div>
          <div class='grafica'>Sentimientos Cluster 2<canvas id="f2" ></canvas></div>
          <div class='grafica'>Géneros del Cluster 2<canvas id="g2" ></canvas></div>
          <div class='grafica'>Sentimientos Cluster 3<canvas id="f3" ></canvas></div>
          <div class='grafica'>Géneros del Cluster 3<canvas id="g3" ></canvas></div>
           
        </div>

            </div>
            <div class="divfoo">
                <p class="textfoo">© 2021 Copyright: </p>
                <a href="https://www.colima.tecnm.mx/" target="_blank">
                    <p class="textfoo">&nbsp;Tecnológico Nacional de México Campus Colima </p>
                </a>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            // lineas de código que toma los datos y llama a la función de graficado
            setTimeout(function () {
                $('.div-preload').attr('style', 'display:none');
                llamado()

            }, 1000);
        }

        function llamadoFiltro() {

            if ($('#selec_candidato').val() != '') {
                consulta_ajax_grafica()
            } else {
                muestra_Alert('Atención', 'Debe de seleccionar un filtro antes de continuar', 5)
            }
        }

        function llamado() {
            let datos = {{ dato| tojson }};
            llena_graficas(datos);
        }

        //llena graficas
        function llena_graficas(datos) {
            barColors = ["#fd9d48", "#fd6648", "#ffd160"];
            borColors = ["#ff7800", "#fc2a00", "#fcb300"];
            let obj1;
            let obj2;
            let clust = [];
            let totalClust = [];
            let clust1 = [];
            let clust2 = [];
            let clust3 = [];
            let clust4 = [];
            let y = 0;
            while (y < 4) {
                //console.log(datos.clusters[y].count_values[1].feeling);
                clust.push(datos.clusters[y].name)
                totalClust.push(datos.clusters[y].total_elements)
                obj1 = datos.clusters[y].count_values[1].feeling
                obj2 = datos.clusters[y].count_values[0].gender
                let arrF1 = []
                let arrF2 = []
                let arrG1 = []
                let arrG2 = []
                //console.log(datos.clusters[y].count_values[0].feeling)
                //console.log(ob2)
                for (const [clave, valor] of Object.entries(obj1)) {
                    arrF1.push(clave);
                    arrF2.push(valor);
                }
                for (const [clave, valor] of Object.entries(obj2)) {
                    arrG1.push(clave);
                    arrG2.push(valor);
                }
                armachart('f'+y,arrF1,arrF2,barColors,borColors,'doughnut','')
          armachart('g'+y,arrG1,arrG2,barColors,borColors,'pie','') 
                y++;
      } 
      armachart('tc',clust,totalClust,barColors,borColors,'bar','')
            // armachart('sentimientos',clust,totalClust,barColors,borColors,'bar','Cantidad de elementos clusters')
        }

        function consulta_ajax_grafica() {
            let auxiliar_selec = $('#selec_candidato').val();
            var jsonArr = [];
            let arrkind = [];
            let arrpage_name = [];
            let arrpolitical_party = [];
            let arrregion = [];
            for (x = 0; x < $('#selec_candidato').val().length; x++) {

                if (auxiliar_selec[x].split('-')[0] == 'kind') {
                    arrkind.push(auxiliar_selec[x].split('-')[1])
                } else if (auxiliar_selec[x].split('-')[0] == 'page_name') {
                    arrpage_name.push(auxiliar_selec[x].split('-')[1])
                } else if (auxiliar_selec[x].split('-')[0] == 'political_party') {
                    arrpolitical_party.push(auxiliar_selec[x].split('-')[1])
                } else if (auxiliar_selec[x].split('-')[0] == 'region') {
                    arrregion.push(auxiliar_selec[x].split('-')[1])
                }
            }
            jsonArr.push({
                page_name: arrpage_name,
                kind: arrkind,
                political_party: arrpolitical_party,
                region: arrregion,
            });
            //console.log(jsonArr)

            window.open('/chart?filtro=' + JSON.stringify(jsonArr), "_self");
        }

        llena_selec()
            //llena el selec de candidatos
            function llena_selec() {
                let datos = {{ datos2| tojson }};
            console.log(datos);
            let auxkind = $('<optgroup class="border-top group_selec" label="Categoría"><optgroup>')
            let auxpage_name = $('<optgroup class="border-top group_selec" label="Nombre de la Página"><optgroup>')
            let auxpolitical_party = $('<optgroup class="border-top group_selec" label="Partido político"><optgroup>')
            let auxregion = $('<optgroup class="border-top group_selec" label="Región"><optgroup>')
            for (const [clave, valor] of Object.entries(datos)) {
                /*  let hola = valor.split(',') */
                let op;

                for (x = 0; x < valor.length; x++) {
                    op = $('<option value="' + clave + '-' + valor[x] + '">' + valor[x] + '</option>')
                    if (clave == 'kind') {
                        auxkind.append(op)
                    } else if (clave == 'page_name') {
                        auxpage_name.append(op)
                    } else if (clave == 'political_party') {
                        auxpolitical_party.append(op)
                    } else if (clave == 'region') {
                        auxregion.append(op)
                    }
                }
                $('#selec_candidato').append([auxkind, auxpage_name, auxpolitical_party, auxregion])
            }
            $("#selec_candidato").chosen({
                no_results_text: "Sin resultados para:",
                width: '50%'
            });
        }

        //funcion que genera las graficas 
        function armachart(div, x, y, barColors, borColors, tipo, nombre) {

            switch (tipo) {
                case 'bar':
            new Chart(div, {
                type: tipo,
                data: {
                    label: true,
                    labels: x,
                    datasets: [{
                        backgroundColor: barColors,
                        borderColor: borColors,
                        data: y
                    }]
                },
                options: {
                    plugins: {
                      datalabels: {
                        display: true,
                        font: {
                          size: 18,
                        }
                      },
                    },
                    legend: {
                        display: false
                    },
                    responsive: true,
                    title: {
                        display: true,
                        text: nombre
                    },
                    scales: {
                    
                        xAxes: [{
                            ticks: {
                                autoSkip: true,
                                /* minRotation: 75 */
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Clusters'
                              },
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Cantidad'
                              },
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                    },

                },
                
            });
        break
                case 'horizontalBar':
                    new Chart(div, {
                        type: tipo,
                        data: {
                            label: false,
                            labels: x,
                            datasets: [{
                                backgroundColor: barColors,
                                borderColor: borColors,
                                data: y
                            }]
                        },
                        options: {
                            plugins: {
                                datalabels: {
                                    display: true,
                                    font: {
                                        size: 18,
                                    }
                                },
                            },
                            legend: {
                                display: false
                            },
                            responsive: true,
                            title: {
                                display: true,
                                text: nombre
                            },
                            scales: {
                                xAxes: [{
                                    gridLines: {
                                        drawOnChartArea: false
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: 1
                                    },
                                    gridLines: {
                                        drawOnChartArea: false
                                    }
                                }]
                            },

                        }
                    });
                    break
                case 'line':
                    new Chart(div, {
                        type: tipo,
                        data: {
                            label: false,
                            labels: x,
                            datasets: [{
                                backgroundColor: barColors,
                                borderColor: borColors,
                                data: y
                            }]
                        },
                        options: {
                            plugins: {
                                datalabels: {
                                    display: true,
                                    font: {
                                        size: 18,
                                    }
                                },
                            },
                            legend: {
                                display: false
                            },
                            responsive: true,
                            title: {
                                display: true,
                                text: nombre
                            },
                            scales: {
                                xAxes: [{
                                    gridLines: {
                                        drawOnChartArea: false
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                    },
                                    gridLines: {
                                        drawOnChartArea: false
                                    }
                                }]
                            },

                        }
                    });
                    break
                case 'doughnut':
                    otra(x, y, nombre)
                    new Chart(div, {
                        type: tipo,
                        data: {
                            labels: x,
                            datasets: [{
                                backgroundColor: barColors,
                                data: y
                            }]
                        },
                        options: {
                            plugins: {
                                outlabels: {
                                    display: true,
                                    stretch: 17,
                                    font: {
                                        resizable: true,
                                        minSize: 12,
                                        maxSize: 18
                                    }
                                },
                                datalabels: {
                                    display: false
                                },
                            },
                            title: {
                                display: true,
                                text: nombre
                            },
                            legend: {
                                display: true,
                                position: "right"
                                //posicion de labels
                            }
                        },

                    });

                    break
                case 'pie':

                    new Chart(div, {
                        type: tipo,
                        data: {
                            labels: x,
                            datasets: [{
                                backgroundColor: barColors,
                                data: y
                            }]
                        },
                        options: {
                            plugins: {
                                outlabels: {
                                    display: true,
                                    font: {
                                        resizable: true,
                                        minSize: 12,
                                        maxSize: 18
                                    }
                                },
                                datalabels: {
                                    display: false,
                                },
                            },
                            title: {
                                display: true,
                                text: nombre
                            },
                            /* legend: {
                                    display: true,
                                    position: 'bottom',   //posicion de labels
                                } */
                        }
                    });
                    break
            }
        }

        function otra(x, y, n) {
            if (n == 'Sentimientos Cluster 2') {
                var layout = {
                    title: n
                };
                var datas = [{
                    labels: x,
                    values: y,
                    type: "pie"
                }];
                Plotly.newPlot("myPlot", datas, layout);
            }

        }
    </script>
    <div id="myPlot" style="width:100%;max-width:700px" hidden></div>

</body>

</html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

    body {
        font-family: 'Poppins', sans-serif;
    }

    .nube {
        height: 124px;
    }
    .grafica{
       text-align: center;
       color: #555 ;
    }
</style>
